[submodule "samples/azure-activedirectory-library-for-android"]
	path = samples/azure-activedirectory-library-for-android
	url = https://github.com/MSOpenTech/azure-activedirectory-library-for-android
