[submodule "external/azure-activedirectory-library-for-android"]
	path = external/azure-activedirectory-library-for-android
	url = https://github.com/AzureAD/azure-activedirectory-library-for-android.git
